extend layout/main

block content
  .container
    p Api Hostname: #{apihostname}
    p UI Hostname: #{uihostname}
    p &nbsp;
    p Count: #{count}
    p Subscribed: #{subscribed}
    form.join(method="POST")
      p.email
        input(type="email", name="email")
      p.submit
        input(type="submit", value="Join!")
