doctype html

html(lang="en")
  head
    block title
      title Course
    link(rel="icon", type="image/png", sizes="192x192", href="/favicon.png")
    link(rel="stylesheet", type="text/css", href="/style.css")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block head

  block body
  body
    block content
