body,
input,
select {
    color: #555;

    font-family: tahoma, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

body,
html {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: auto;

    text-align: center;
}
